<div class="container">
  <h2 class="my-4 text-center mt-3">BEST SELLER</h2>
  <hr>
  <div class="row">
    <div class="col-lg-3 col-sm-6 portfolio-item" *ngFor="let pro of bestsellerList">
      <div class="card-img">
        <div class="img-box">
          <img src="{{pro.ShoesImg}}" alt="">
        </div>
        <div class="card-body">
          <h4 class="card-title">
              <a><b>{{pro.ShoesName}}</b></a>
          </h4>
          <p class="card-text" style="font-size: 12px; margin-top: -10px" >{{pro.ShoesColor}}</p>
          <p style="margin-top: -5px">----- {{pro.ShoesPrice}}$ -----</p>
        </div>
        <div class="card-img-btn">
          <button type="button" class="btn btn-secondary" [routerLink]="['/product-detail',pro.idShoes]">Learn More</button>
        </div>
      </div>
    </div>
  </div>
</div>

