<div class="container-fluid bg-1 text-center">
    <h3>Who We Are?</h3>    
    
    <h3>We Are <a style="background-color: #000; border-radius: 10px; font-size: 120%"><span class="fa fa-universal-access"></span>FightClub</a></h3>
  </div>
  
  <div class="container-fluid bg-2 text-center">
    <h3>What We Are?</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. </p>
  </div>
  
  <div class="container-fluid bg-3 text-center">
    <h3>Where To Find Us?</h3>
    <div class="footer-icons">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
    </div>
  </div>
