<div class="container">
  <!-- Left Column / Headphones Image -->
  <div class="left-column">
    <img class="pro-detail-img" [src]="productList.ShoesImg" alt="">
  </div>

  <!-- Right Column -->
  <div class="right-column">

    <!-- Product Description -->
    <div class="product-description">
      <span>Sneakers</span>
      <h2><b>{{productList.ShoesName}}</b></h2>
      <p>{{productList.ShoesColor}}</p>
    </div>

    <!-- Product Configuration -->
    <div class="product-configuration">

      <!-- Product Color -->
      <!-- <div class="product-color">
        <span>Color</span>

        <div class="color-choose">
          <div>
            <input data-image="red" type="radio" id="red" name="color" value="red" checked>
            <label for="red"><span></span></label>
          </div>
          <div>
            <input data-image="blue" type="radio" id="blue" name="color" value="blue">
            <label for="blue"><span></span></label>
          </div>
          <div>
            <input data-image="black" type="radio" id="black" name="color" value="black">
            <label for="black"><span></span></label>
          </div>
        </div>

      </div> -->

      <!-- Cable Configuration -->
      <div class="cable-config">
        <span>Size Chart</span>

        <!-- <div class="cable-choose">
          <div *ngFor="let size of productSize" style="display: inline-block; margin-right: 2px">
              <button>{{size.Size}}</button>
          </div>
        </div> -->
        <div>
          <select name="state" class="select2" id="select2" [(ngModel)]="Selected">
            <option *ngFor="let size of productSize" [value]="size.Size">{{size.Size}}</option>
          </select>
        </div>


        <a href="#">How to configurate your Shoes</a>
      </div>
    </div>

    <!-- Product Pricing -->
    <div class="product-price">
      <span>{{productList.ShoesPrice}}$</span>
      <a (click)="addToCart(productList,Selected)" class="btn btn-secondary text-white">Add to cart</a>
    </div>
  </div>
</div>


