<app-admin-navbar></app-admin-navbar>
<div class="container mt-2">
    <div class="content">
        <form class="form-inline">
            <input [(ngModel)]="search" type="text" class="form-control ml-auto mr-2" placeholder="Search" name="search">
            <button type="button" class="btn btn-dark mb-3" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus" aria-hidden="true"></i></button>
        </form>
        <div class="row mt-1 border pt-2 pb-2 ml-2 mr-2" *ngFor="let pro of productList | stringfilter: search | paginate: { itemsPerPage:8, currentPage: p }">
            <div class="col-sm-2 text-center">
                <img class="cart-img" src="{{pro.ShoesImg}}" alt="prewiew" width="110" height="90">
            </div>
            <div class="text-sm-center col-sm-8 text-md-left mt-2">
                <h6><a class="text-dark" [routerLink]="['/product-detail',pro.idShoes]">{{pro.ShoesName}}</a></h6>
                <h6>{{pro.ShoesColor}}</h6>
                <h6>{{pro.ShoesPrice}}$</h6>
            </div>
            <div class="col-sm-2 text-sm-center text-md-right">
                <button type="button" class="btn btn-outline-info btn-xs mr-2">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-outline-danger btn-xs ml-auto" (click)="delete(pro.idShoes)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <pagination-controls (pageChange)="p =$event" class="my-pagination text-center"></pagination-controls>

        <!-- The Modal -->
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Add Shoes</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="picture-container">
                            <div class="picture">
                                <img src="../../assets/images/image-select-default.png" class="picture-src" id="wizardPicturePreview" title="">
                                <input formenctype="multipart/form-data" name="Image"
                                    type="file" accept="image/*" id="wizard-picture" class="">
                            </div>
                            <h6 style="margin-top: 20px;" class="">Choose Picture</h6>
                        
                        </div>
                        <form #f="ngForm" (ngSubmit)="add(newProduct)">
                            <div class="form-group">
                                <label for="Name">Name</label>
                                <input [(ngModel)]="newProduct.ShoesName" type="text" class="form-control" id="ShoesName" placeholder="Enter Shoes Name" name="ShoesName" required>
                            </div>
                            <div class="form-group">
                                <label for="Color">Color</label>
                                <input [(ngModel)]="newProduct.ShoesColor" type="text" class="form-control" id="ShoesColor" placeholder="Enter Shoes Color" name="ShoesColor" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Price</label>
                                <input [(ngModel)]="newProduct.ShoesPrice" type="text" class="form-control" id="ShoesPrice" placeholder="Enter Shoes Price" name="ShoesPrice" required>
                            </div>
                            <div class="form-group">
                                <label for="Img">Img</label>
                                <input [(ngModel)]="newProduct.ShoesImg" type="text" class="form-control" id="ShoesImg" placeholder="Enter Shoes Image" name="ShoesImg" required>
                            </div>
                            <div class="form-group">
                                <label for="category">Category</label>
                                <ng-select class="custom" [items]="categoryList"
                                    bindLabel="CategoryName"
                                    bindValue="idcategory"
                                    [multiple]="false"
                                    [searchable] = "false"
                                    [(ngModel)]="newProduct.idcategory"
                                    [ngModelOptions]="{standalone: true}">
                                </ng-select>
                            </div>
                            <div class="form-group">
                                <label for="Type">Type</label>
                                <ng-select class="custom" [items]="typeList"
                                    bindLabel="typeName"
                                    bindValue="idtype"
                                    [multiple]="false"
                                    [(ngModel)]="newProduct.idtype"
                                    [searchable] = "false"
                                    [ngModelOptions]="{standalone: true}">
                                </ng-select>
                            </div>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </form>                     
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>