
<app-slider></app-slider>

<!-- Page Content -->
<div class="container">

  <app-product></app-product>

  <!-- /.row -->
  <hr>
  <!-- Portfolio Section -->
  
  <app-best-seller></app-best-seller>

  <!-- /.row -->

  <hr>
      <!-- Features Section -->
      <div class="text-center">
        <img src="assets/images/poster1.PNG" alt="" width="100%" style="margin-bottom: 10px">
        <h4><b>MODREN BUSINESS FEATURES</b></h4>
        <div class="row">
            <div class="col-lg-2 mt-1" style="margin-left: 33%">
              <p>Buy Online</p>
              <p>Cash On Delivery</p>
            </div>
            <div class="col-lg-2 mt-1">
              <p>Buy On Location</p>
              <p>Cash On Card</p>
            </div>
        </div>
        <h4><b>ONLY AUTHENTIC AND MORE</b></h4>
        <img src="assets/images/poster2.PNG" alt="" width="100%" style="margin-bottom: 10px">
      </div>
      <!-- /.row -->
  <hr>

  <!-- Product slider -->
      
  <app-salepro></app-salepro>

  <hr>

  <!-- Call to Action Section -->

  <div class="row mb-4">
    <div class="col-md-8 mt-2">
      <h3>JOIN US & GET A SPECIAL WELCOME GIFT</h3>
    </div>
    <div class="col-md-4">
      <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
    </div>
  </div>
  <hr>

</div>
<!-- /.container -->



